.coin-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 1.2rem;
  border-radius: var(--border-radius);
  transition: var(--transition);
  align-items: center;
  cursor: pointer;
}

.app.dark .coin-row {
  background-color: var(--secondary-dark);
  box-shadow: var(--shadow-dark);
}

.app.light .coin-row {
  background-color: var(--secondary-light);
  box-shadow: var(--shadow-light);
}

.coin-row:hover {
  transform: translateY(-3px);
}

.app.dark .coin-row:hover {
  background-color: rgba(108, 92, 231, 0.05);
}

.app.light .coin-row:hover {
  background-color: rgba(108, 92, 231, 0.03);
}

.coin {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.coin img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.coin-info h3 {
  font-size: 1rem;
  font-weight: 600;
}

.coin-symbol {
  text-transform: uppercase;
  font-size: 0.8rem;
  opacity: 0.7;
}

.coin-data {
  text-align: right;
}

.coin-price {
  font-weight: 600;
}

.coin-percent {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.2rem;
}

.coin-percent.red {
  color: var(--red);
}

.coin-percent.green {
  color: var(--green);
}

.arrow {
  font-size: 0.9em;
}

.show-on-md, .show-on-lg {
  display: none;
}

@media (min-width: 768px) {
  .coin-row {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  
  .show-on-md {
    display: block;
  }
}

@media (min-width: 992px) {
  .coin-row {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  }
  
  .show-on-lg {
    display: block;
  }
}